body{
		width: 80%;
		margin:14px auto;
	}
header{display: block;
	background-color: white;
	padding: 8px;
}
item-a {
	grid-area: header;
  }	
a {
		text-decoration: none;
		color:#3d83df;outline:0;
		background-color:transparent;
	}
a:hover, a:active{
		color:#00b39b;
		outline:0;
	}
	.h1{font-size:  10; 
		margin: auto;}
	.main-header{
		position:fixed;
		top:0;left:0;width:100%;
		background:hsla(0,0%,100%,.98);
		transition: none;}
	.main-header h1{margin:2px 0 0;
	 display:inline-block;
	 position:relative}
	@media (max-device-width:480px)
	{.main-header h1{line-height:28px;}}
	.main-header a{display:inline-block}
	.main-header.is-sticky{box-shadow:0 -2px 10px 0 rgba(0,0,0,.15)} 
	button,select{overflow:visible;text-transform:none}
   main-header {
    float: right;
    background: rgb(241, 231, 231);
    width:550px;
    height: 50px ;
	border: 8px;
	font-display: flex;
   }
   
main-header nav ul li{
    display:inline-block;
    padding: 10px 40px;
    display: inline-block;
    height: 20px;
}
button{overflow:visible}
a {
    text-decoration: none;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align:right;
}
li{
	float:right;
}
li a {
	display: block;
	color: rgb(109, 105, 105);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
ul.main-menu{
	list-style-type: none;
}
.main-menu{
	width: 30%;
    display: flex;
    justify-content: center;
    margin-top: 0%;
}
.dropdown{cursor:pointer;position:relative;
	display:inline-block}
.dropdown-content{display:none;padding-top:10px;
	position:absolute;min-width:220px;
	margin-left:-100px;background:#fff;
	box-shadow:0 5px 10px 0 #d3cfc9;}
.dropdown-content a,.dropdown-content li{display:block;
	width:100%}
.dropdown-content a{color:#747474;
	line-height:120%;
	padding:12px 16px;
	text-decoration:none;display:block
}
.dropdown:hover .dropdown-content a:hover{background-color:#f6f8f8}
.dropdown:hover .dropdown-content{display:block}
@media (max-device-width:480px){.dropdown>a{display:none}
.dropdown .dropdown-content{display:block;padding-top:20px;
							 position:static;
							 min-width:100%;margin-left:0;
	                         background:transparent;
	                         box-shadow:none;}}
.dropdown .dropdown-content li{padding:0}
.dropdown .dropdown-content li a{border-bottom:none}
.main-menu{position:relative;
	        float:right}
	       /** section logo  container**/
.logo-section{padding: 10%;
		display: flex;
		  flex-direction: column;
		  text-align: center;
	  }
 .container {
		grid-template-areas: none
	}
	.logo{
		display:flex;
		 justify-content: center;
	  }
	.logo-section-container h1{
	  width: 50%;
	  width: 50%;
	  margin-left: 25%;
	  color: rgb(41, 221, 182);
	  font-family: 'Charmonman', cursive;
	  text-align:center;
	  display:flex;
	 justify-content: center;
		}
		.grid{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
			text-align: left;
			margin-left: 8%;
	  } 
	  .lead p{margin:.8em 0;line-height:1;font-weight:400}
	  .grid:after,.grid:before{content:"";display:table;
		clear:both}
	  .grid.grid--to-right {float:right}
	  [class=col-]{float:left;min-height:1px;padding:10px}
	  .section{margin:1.25rem auto 1}
	  .logo-section h1{font-size:2;margin:.7 0 t;
						text-align: center;
						color:#00b39b}
	  .logo{display:block;margin:0 auto}
	  .col-1{width:100%}
	  .col-2{width:50%}
	  .col-3{width:33.33%}
	  .col-3-2{width:66.66%}
	  .col-4{width:25%}
	  .col-4{width:50%}
.logo-docplanner .p1,.logo-docplanner .p2{transition:all .2s ease 0s}
.logo-docplanner .p1{fill:#ababab}
.logo-docplanner .p2{fill:#00bfa5}
.logo-docplanner .p2{fill:#fff}
.logo-docplanner .p1{fill:hsla(0,0%,100%,.6)}
services-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-left: 7%;
	height: 332px;
	align-items: center ;
	margin-bottom: 37%;

}
.services-container h1 {
    font-size: 20px;
    font-weight: 500;
    margin-left:6%;
}
.services-container h2 {
    margin-left: 6%;
}
.grid for-patient {
    border: 1px solid black;
    border-radius: 25px;
    width: 45%;
    background-color: rgb(17, 182, 160);
    overflow: hidden;
}

                  /*** offices-section ***/
.services_item{border-radius:10px;padding:2em 2em 0;overflow:hidden;
	height:345px;
	display:flex;flex-direction:column;
	justify-content:space-between;transition:all }
.stats_grid{margin:0 -5px}
.col-2{padding:5px;width:50%;float:left}
.offices section{margin-top:5.5rem;margin-bottom: auto ;}
.offices_header{max-width:460px;margin:0 auto 4;font-size: 5;text-align:center}
.offices_header{padding-left:20px;padding-right:20px}
@media (max-device-width:480px){.offices__header{margin-bottom:1}}
.offices_header p{line-height:1; 
	         text-align: center;
             color: black;
             opacity: .7;}
.offices_header h1{font-size:2 ;
	color: rgb(0,197,155);
    font-family: 'Charmonman', cursive;
}

                  /***   office_slider ***/
.offices_slider{margin:0 -10px;zoom:1}
.offices_slider:after,.offices_slider:before{content:"";display:table}
.office_col_1{display: flex;
justify-content: space-evenly;
}
.office_col_2{
	display: flex;
    justify-content: space-evenly;
    margin-top: 3%;
}
.office_desc h1{
	font-family: 'Charmonman', cursive;
}
.btn{
	text-align: right;
    margin-top: -17%;
}
.offices_slider:after{clear:both}
.offices_slider .office{width:33.33%;float:left}
.offices .slick-dots li{width:12px;margin:0 2px}
.offices .slick-dots li button{width:12px;height:12px;padding:2px}
.offices .slick-dots li button:before{content:"";width:10px;
	                     height:10px;border-radius:10px;
	                     top:2px;left:2px;background:#e9f0f0;opacity:1}
.offices .slick-dots li.slick-active button:before{background:#498be0}
@media (max-width:480px){
.offices{padding-left:0;padding-right:0;overflow:hidden}
.offices .office{width:290px;float:left}
.offices .slick-slide{outline:0}}
.office{padding:10px}
 
                      /** join-us **/
join-us{margin: 2 auto;}
.join-us-header{max-width:520px;margin:0 auto;font-size:.875em;text-align:center}
.join-us-header h1{font-size:2;color:#333;margin-bottom:.75em}
.btn{display:inline-block;vertical-align:middle;position:relative;
	outline:0;border:0;border-radius:4px;padding: 1;
	background:#3d83df;font-family:Roboto,Arial,sans-serif;line-height:1em;
	color:#fff;font-weight:700;letter-spacing:.04em;font-size:.75rem;text-align:center;
	text-decoration:none;
	text-transform:uppercase;transition:all .2s ease 0s}
.btn:hover{color:#fff;background:#1662c6}

                        /** footer **/
footer div p {
	float: center;
	background-color :#ffffff;
	top:50%;
	width:100%;
	text-align:center;
	color:rgb(190, 183, 183);
  }
  .positions{margin-top:3.5625em}
  .positions_header{margin-bottom:2}
  .positions_header h1{font: size 2;
	text-align:center}
  .positions_offers{padding-left: 0% ;position:relative;
	min-height:200px;margin-bottom:2}
	