html {
    font-size: 16px;
    line-height: 1.3;
    font-weight: 400;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    font-weight: 400;
    font-family: Roboto,Arial,sans-serif;
    color: #747474;
    padding-top: 70px;
    -webkit-font-smoothing: antialiased;
}
body{
    margin:0;
}
main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    background: hsla(0,0%,100%,.98);
    transition: box-shadow .25s ease 0s;
}
nav{
    display: block;
}
nav.main-header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 3;
        background: hsla(0,0%,100%,.98);
        transition: box-shadow .25s ease 0s;  
}
div.logo-docplanner{
    zoom: 1;
    max-width: 1015px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
    display: block;
}
h1{
    font-size: 2;
    color: #00b39b;
}
.main-header h1 {
    margin: 2px 0 0;
    line-height: 68px;
    display: inline-block;
    position: relative;
}
a{
background-color: transparent;
}
a {
    text-decoration: none;
    color: #3d83df;
    outline: 0;
    transition: all .2s ease 0s;
}
a:hover, a:active{
    color:#00b39b;
    outline:0;
}
li a {
	display: block;
	color: rgb(109, 105, 105);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.logo{
    width: 268px;
    height: 33px;
}
img{
    max-width: 100%;
    border:0;
}

.main-header a {
    display: inline-block;
}
.hamburger {
    float: right;
    display: none;
    z-index: 12;
}
.hamburger {
    padding: 17px 13px 13px;
    cursor: pointer;
    position: relative;
    outline: 0;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0 -10px 0 0;
    overflow: visible;
}
button{
    text-rendering: auto;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    align-items: flex-start;
}
.hamburger-box {
    width: 24px;
    height: 16px;
    display: inline-block;
    position: relative;
}
.hamburger-header{
    top: 1px;
    transition-duration: .4s;
    display:block;
    margin-top: -1px;
    width: 24px;
    height: 2px;
    background-color: #00b39b;
    border-radius: 2px;
    position: absolute;
}
.main-nav {
    position: relative;
    float: right;
}
.main-menu {
    list-style: none;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 2em;
    padding: 1.33em 0;
}
ul{
    margin:0;
    display: block;
}
.main-menu li {
    display: inline-block;
}
.main-menu .is-current, .main-menu .is-current a {
    color: #00b39b;
}
.main-menu a {
    display: block;
    text-decoration: none;
    padding: 0 .6em;
}
.dropdown {
    cursor: pointer;
    position: relative;
}
.dropdown-content {
    display: none;
    padding-top: 10px;
    position: absolute;
    min-width: 220px;
    margin-left: -100px;
    background: #fff;
    box-shadow: 0 5px 10px 0 #d3cfc9;
    z-index: 1;
}
ul ul {
    list-style-type: circle;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.dropdown-content li {
    width: 100%;
}
.dropdown-content a {
    line-height: 120%;
    padding: 12px 16px;
}
.logo{
    margin: 2.0625rem auto 3.75rem;
}
.section-container{
    zoom: 1;
    max-width: 1015px;
    padding: 0 20px;
    position: relative;
}
section{
    display: block;
}

.logo{display: block;
    margin: 0 auto;
}
img {
    max-width: 100%;
    height: auto;
}
img {
    border: 0;
}
.logo h1{
    text-align: center;
}
h1 {
    font-size: 2.125rem;
    color: #00b39b;
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
h1{margin: 1em 0;
    font-family:"Work Sans",Arial,sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
}
.grid{
    margin:0 -10px;
}
div{
    display: block;
}
.col-2{
    width: 50%;
}
[class*=col-] {
    float: left;
    min-height: 1px;
    padding: 10px;
}
.logo p{
    margin: .8em 0;
    line-height: 1.75;
    font-weight: 400;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.col-2{
    width: 50%;
}
[class*=col-] {
    float: left;
    min-height: 1px;
    padding: 10px;
}

div{
    display: block;
}
.logo p{
    margin: .8em 0;
    line-height: 1.75;
    font-weight: 400;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.section-container::after{
    clear: both;

}
.services {
    margin: 3.75rem auto 2.5rem;
}
.services-section{
    zoom: 1;
    max-width: 1015px;
    padding: 0 20px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 7%;
    height: 300px;
}
.fade>.fade_visible{
    transform: translate(0);
    opacity: 1;
}
.fade>*{
    transition: all .35s ease 0s
}
.col-3 {
    width: 33.33%;
}
[class*=col-] {
    float: left;
    min-height: 1px;
    padding: 10px;
}
*{
    box-sizing: inherit;
}
.services .fade.services_item>:nth-child(1) {
    transition-delay: .3s;
}
.services_item--marketplace{ 
    background: #00ccb1;
}
.services_item{
border-radius: 10px;
    overflow: hidden;
    height: 345px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .2s ease 0s;
}
.servics.fade.fade_visible.services_item>* 
{
    opacity: 1;
    transform: translate(0);
}
.services .fade .services_item>:first-child {
    transition-delay: .25s;
}
.services .fade.services_item>* {
    opacity: 0;
    transform: translate(30px);
    transition: all .25s ease .25s;
}
.services_item img {
    margin-bottom: -.4em;
}
img {
    max-width: 100%;
    height: auto;
}
img {
    border: 0;
}
.services_item h1 {
    font-size: 1.625em;
    font-weight: 400;
    color: #fff;
    margin-left: .3em 0;
}
.services_item h2 {
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
    color: #fff;
}
h2{
    font-family: "Work Sans",Arial,sans-serif;
    letter-spacing: -.3px;
    display: block;
}
.services .style-select:last-child {
    margin-bottom: 35px;
}
.services .style-select {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    background: none;
    border: 0;
    color: rgb(20, 15, 15);
    font-family: Roboto,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: .04em;
    font-size: 1.2rem;
    text-align: center;
}
.style-select {
  border: radius 4px;
}
.services .style-select select {
    width: 100%;
    background: transparent;
    border: 0;
    border-radius: 0;
    padding: 0 2em 0 0;
    outline: 0;
    text-transform: none;
    text-decoration: underline;
    cursor: pointer;
    height: 40px;
}
select{
    color: inherit;
    font: inherit;
    margin: 0;
}
.services .style-select select option {
    font-size: 1rem;
    line-height: 1.2;
}
.option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.services_item h1 {
    font-weight: 400;
    color: rgb(248, 246, 246);
    margin: .3em 0;
}
h1{font-family:Work Sans,Arial,sans-serif;
}
.services .fade.services_item>:nth-child(2) {
    transition-delay: .3s;
}
.services_item-sas {
    background: #3c73bb;
}
.services_item {
    border-radius: 10px;
    padding: 2em 2em 0;
    overflow: hidden;
    height: 345px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .2s ease 0s;
}

.services_item h1 {
    font-weight: 400;
    color: rgb(248, 246, 246);
    margin: .3em 0;
}
h1{font-family:Work Sans,Arial,sans-serif;
}
.services .fade- .services_item>:nth-child(2) {
    transition-delay: .3s;
}
.services_item-clinics {
    background: #1b2734;
}

/*offices section */
h1{font-family:Work Sans,Arial,sans-serif;
    font: weight 300;
    letter-spacing: -.3px;
}
.offices {
    margin-top: 5.5rem;
    margin-bottom: 5rem;
}
section {
    zoom: 1;
    max-width: 1015px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
}
.offices_header h1{
    font-size: 2em;
}
.h1:first-child{
    margin: 0;
}
.offices_header{
    text-align: center;
}
.h1{
    color: #00b39b;
}
.offices_header p {
    text-align: center;
    color: black;
    opacity: .7;
}
.offices-column-1 {
    display: flex;
    justify-content: space-evenly;
} 
.offices-column-2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3%;
}
.offices-column-1 h1 {
    font-family: 'arial', cursive;
}
.offices-box h2 {
    font-family: 'arial', sans-serif;
}
.opening-office {
    text-align: right;
    margin-top: -17%;
}
.opening-office input {
    background-color: rgb(61,131,223);
    color:white;
    height: 31px;
    border: 25px;
}
figure{
    margin: 0;
}
.office{
    padding: 10px;
}
.office_image img {
    display: block;
    margin: 0 auto;
}
img {
    max-width: 100%;
    height: auto;
}
img {
    border: 0;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.office .button {
    float: right;
}
.button{
    display:inline-block;
    vertical-align: middle;
    position: 0;
    border: 0;
    border-radius: 4px;
    background: #3d83df;
    font-family: roboto,arial,sans-serif;
    line-height: 1em;
    color: #ffff;
    font-weight: 700;
    letter-spacing: .04em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s ease 0s;
}

/* join us */
.join-us{
    margin: 5rem auto;
}
.section-container {
    zoom: 1;
    max-width: 1015px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
}
.join-us-header{
    max-width: 520px;
    margin: 0 auto;
    font-size: .875em;
    text-align: center;
}
.join-us-header h1 {
    font-size: 2.1428571429em;
    color: #333;
    margin-bottom: .75em;
}
h1:first-child{
    margin: 0;
}   
.button {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    outline: 0;
    border: 0;
    border-radius: 4px;
    padding: 1.1666666667em 1.5em;
    background: #3d83df;
    font-family: Roboto,Arial,sans-serif;
    line-height: 1em;
    color: #fff;
    font-weight: 700;
    letter-spacing: .04em;
    font-size: .75rem;
    text-align: center;
    text-decoration: none!important;
    text-transform: uppercase;
    transition: all .2s ease 0s;
}

/* footer */
.main-footer {
    border-top: 1px solid #eef2f2;
    text-align: center;
    padding: 1em 0;
}
.main-footer .section-contries, .main-footer p {
    font-size: 12px;
    color: #ababab;
}
.section-contries {
    zoom: 1;
    max-width: 1015px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
}

p {
    margin: 1.6em 0;
}
.main-footer p {
        margin-bottom: .4em;
    }
